<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="main">
      <ion-icon src="assets/svg_icons/Home.svg"></ion-icon>
<!--      <ion-label>Main1</ion-label>-->
    </ion-tab-button>

    <ion-tab-button tab="exhibitors">
      <ion-icon src="assets/svg_icons/Exhibitors.svg"></ion-icon>
<!--      <ion-label>Exhibitors2</ion-label>-->
    </ion-tab-button>

    <ion-tab-button tab="visitors">
      <ion-icon src="assets/svg_icons/Visitors.svg"></ion-icon>
<!--      <ion-label>Visitors3</ion-label>-->
    </ion-tab-button>

    <ion-tab-button tab="venue">
      <ion-icon src="assets/svg_icons/Venue.svg"></ion-icon>
<!--      <ion-label>Venue4</ion-label>-->
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-icon src="assets/svg_icons/Map.svg"></ion-icon>
<!--      <ion-label>Map5</ion-label>-->
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
