<ion-header>
  <ion-toolbar>
    <ion-title class="padding-left-2">
      <ion-item class="dark-bg white-text" no-padding>
        <span item-left margin-end class="font-lg padding-top-3"><ion-icon name="ios-search"></ion-icon></span>
        <ion-input #search placeholder="Search Exhibitors 2018" (ionInput)="onSearch($event.target.value)"></ion-input>
      </ion-item>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <ion-slides class="transparent-bg alphabet-slider padding-left-2" pager="false" [options]="slideOpts">
    <ion-slide  *ngFor="let letter of alphabet"
                (click)="selectLetter(letter)"
                class="transparent-bg"
                [ngClass]="{'inactive': selectedLetter!==letter}"
    >
      <h4>{{letter}}</h4>
    </ion-slide>
  </ion-slides>
  <div class="overlay">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-list #exhibitorsList class="dark-bg scrollable-list-4 no-padding-top">
            <ion-item *ngFor="let ex of displayedExhibitors" routerLink="{{ex.id}}" class="dark-bg">
              <ion-grid>
                <ion-row>
                  <ion-col size="8">
                    <ion-label class="list-item-text-1">{{ex.title}}</ion-label>
                  </ion-col>
                  <ion-col size="4">
                    <ion-label class="list-item-text-2">Stand {{ex.acf.stand_scheda}}</ion-label>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <div *ngIf="loaded" class="padding-horizontal-3">
        <ion-row>
          <ion-col no-padding>
            <h1 class="white-text screen-title-1">Exhibitors 2018</h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p class="white-text screen-text-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores at commodi consequatur delectus enim fugit,
              magnam quaerat rem sint ut? Ad aliquid at corporis doloribus itaque libero perferendis porro praesentium!
              Animi cum delectus id iste itaque magnam molestias sequi sunt, suscipit! Amet aspernatur, cumque doloremque ducimus
              enim incidunt labore laboriosam maiores, natus nemo rerum sint soluta tempora. Doloremque, inventore, quos!</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p class="white-text screen-text-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores at commodi consequatur delectus enim fugit,
              magnam quaerat rem sint ut? Ad aliquid at corporis doloribus itaque libero perferendis porro praesentium!
              Animi cum delectus id iste itaque magnam molestias sequi sunt, suscipit! Amet aspernatur, cumque doloremque ducimus
              enim incidunt labore laboriosam maiores, natus nemo rerum sint soluta tempora. Doloremque, inventore, quos!
            </p>
          </ion-col>
        </ion-row>
      </div>
    </ion-grid>
  </div>

</ion-content>
