ion-input {
  --placeholder-color: white;
  --placeholder-opacity: 1;
}

.font-lg {
  font-size: 1.8rem;
}

.inactive {
  //color: grey;
  cursor: pointer;
}

.scrollable-list-4 {
  height: 192px;
  overflow-y: scroll;
}
