<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/venue"></ion-back-button>
    </ion-buttons>
    <ion-title>Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid padding-horizontal>
    <ion-row>
      <ion-col no-padding>
        <p class="screen-text-1">You can contact us at the following <span class="block">e-mail-addresses:</span></p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col no-padding class="screen-text-1">
        <ion-card class="card-1">
          <ion-card-header>
            <ion-card-title class="card-title-1">visitors</ion-card-title>
          </ion-card-header>
          <ion-card-content class="padding-top-1">
              <ion-row class="link-blue">
                  <ion-col size="1" class="ion-row-padding padding-top-2">
                      <ion-icon src="/assets/svg_icons/fa/envelope-regular.svg"></ion-icon>
                  </ion-col>
                  <ion-col size="10">
                      frontdesk@dateyewear.com
                  </ion-col>
              </ion-row>

              <a href="mailto:frontdesk@dateyewear.com" class="link-blue">
                  <ion-row class="white-text">
                      <ion-col size="1">
                          <ion-icon src="/assets/svg_icons/fa/paper-plane-regular.svg"></ion-icon>
                      </ion-col>
                      <ion-col size="10" class="ion-text-uppercase bold">
                          send mail
                      </ion-col>
                  </ion-row>
              </a>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col no-padding>
          <ion-card class="card-1">
              <ion-card-header>
                  <ion-card-title class="card-title-1">exhibitors</ion-card-title>
              </ion-card-header>
              <ion-card-content class="padding-top-1">
                      <ion-row class="link-blue">
                          <ion-col size="1" class="ion-row-padding padding-top-2">
                              <ion-icon src="/assets/svg_icons/fa/envelope-regular.svg"></ion-icon>
                          </ion-col>
                              <ion-col size="10">
                                  date@dateyewear.com
                              </ion-col>
                      </ion-row>

                  <a href="mailto:date@dateyewear.com" class="link-blue">
                      <ion-row class="white-text">
                          <ion-col size="1">
                              <ion-icon src="/assets/svg_icons/fa/paper-plane-regular.svg"></ion-icon>
                          </ion-col>
                          <ion-col size="10" class="ion-text-uppercase bold">
                              send mail
                          </ion-col>
                      </ion-row>
                  </a>
              </ion-card-content>
          </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
