<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/venue"></ion-back-button>
    </ion-buttons>
    <ion-title>4**** Hotels Starting From <br>159,00 € per night</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="/assets/img/01_accomodation.png"></ion-img>
  <ion-grid class="screen-text-1 margined-rows-5 margin-bottom-5">
    <ion-row>
      <ion-col>
        (breakfast and VAT tax included - city tax not included)
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Take advantage of our exclusive promo and make sure you have your room booked before
        <span class="ion-text-uppercase underline">july 31</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        With our range of high quality selected hotels, we will satisfy all your needs,
        either you want to experience the inner Florence or stay near the Venue.
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        For any enquiry don't hesitate to contact us
        <a href="mailto:dateyewear.hotel@micodmc.it">dateyewear.hotel@micodmc.it</a>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p no-margin><span class="ion-text-uppercase">mico dmc</span> s.r.l.</p>
        <p no-margin><a href="http://www.micodmc.it/">www.micodmc.it</a></p>
        <p no-margin>Piazzale Carlo Magno, 1-20149 Milano ITALY</p>
        <p no-margin>T.+39.02. 8725526-F.+39.02.43426274</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
